table, td, th, thead{
    Border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5% auto;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: darkgreen;
    background-image: linear-gradient(red, yellow);
}
img, iframe{
    border-radius: 100px;
}
*{
    font-size: medium;
    text-align: center;
}
/*
width  height   color    display
*/
