#bs{
    float:right;
}
#gb{
    float:left;
}
a{
    text-decoration: none;
    color: blue;
}
nav{
   background: green;
   top: 0;
   left: 0;
   position: fixed;
   padding: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   z-index: 9999999999;
}
.contact{
    float: right;
}
.color{
    float: right;
}
.fleft{
    float: right;
        width:40%; 
        text-align:center;
        padding: 2%; 
        padding-bottom: 30px;
        Margin: 5%;

}
.fright{
    float: left;
        width:40%; 
        text-align:center;
        padding: 2%; 
        padding-bottom: 30px;
        Margin: 5%;

}
a{
    text-decoration: none;
    color: blue;
}
 nav{
    
    background: green;
    top: 0;
    left: 0;
    position: fixed;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 9999999999;
}
.mode{
    float:right;
}
a{
    text-decoration: none;
    color: blue;
}
nav{
   
   background: green;
   top: 0;
   left: 0;
   position: fixed;
   padding: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   z-index: 9999999999;
   padding: 10px;
}